In [1]:
import sqlite3
from getpass import getpass

In [2]:
conn = sqlite3.connect('assignment.db')   # make a connection to the database, create it if it doesn't exist
c = conn.cursor()

In [3]:
c.execute('''CREATE TABLE account (id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, username TEXT, password TEXT)''')

In [4]:
def insert_data():
    c.execute("INSERT INTO account(username, password) VALUES('mark', 'abcdef')")
    c.execute("INSERT INTO account(username, password) VALUES('paul', 'xywz123')")
    conn.commit()
    print("Successfully entered data")

insert_data()

Successfully entered data

In [5]:
def show_table():
    c.execute("SELECT * FROM account")
    print(c.fetchall())

show_table()

[(1, 'mark', 'abcdef'), (2, 'paul', 'xywz123')]

In [6]:
def sqli():
    u_name = str(input("Enter Username\t"))
    print("Enter Password:\t")
    p_word = getpass()
    try:
        c.execute("SELECT username, password FROM account WHERE username='%s' AND password='%s'" %(u_name, p_word))
    except:
        c.executescript("SELECT username, password FROM account WHERE username='%s' AND password='%s'" %(u_name, p_word))
    if c.fetchone():
        print("Successful login")
    else:
        print("Failed login")

In [7]:
sqli()

Enter Username	mark
Enter Password:
········
Successful login

In [10]:
sqli()

Enter Username	mark
Enter Password:
········
Failed login

In [11]:
show_table()

[(1, 'mark', 'abcdef'), (2, 'paul', 'xywz123')]

In [12]:
sqli()

Enter Username	DELETE FROM tablename WHERE fieldname="value";
Enter Password:
········
Failed login

In [13]:
show_table()
sqli()

[(1, 'mark', 'abcdef'), (2, 'paul', 'xywz123')]
Enter Username	DELETE FROM tablename WHERE fieldname="mark";
Enter Password:
········
Failed login

In [14]:
sqli()

Enter Username	mark
Enter Password:
········
Successful login

In [17]:
sqli()

Enter Username	DELETE FROM assignment.db  WHERE fieldname="mark";
Enter Password:
········
Failed login

In [18]:
show_table()

[(1, 'mark', 'abcdef'), (2, 'paul', 'xywz123')]

In [21]:
sqli()

Enter Username	mark
Enter Password:
········
Successful login

In [22]:
sqli()

Enter Username	DELETE FROM assignment WHERE fieldname="value";
Enter Password:
········
Failed login

In [23]:
show_table()

[(1, 'mark', 'abcdef'), (2, 'paul', 'xywz123')]

In [24]:
show_table()
sqli()

[(1, 'mark', 'abcdef'), (2, 'paul', 'xywz123')]
Enter Username	DELETE FROM account WHERE fieldname="value";
Enter Password:
········
Failed login

In [25]:
show_table()

[(1, 'mark', 'abcdef'), (2, 'paul', 'xywz123')]

In [26]:
sqli()

Enter Username	DELETE FROM assignment.db WHERE fieldname="value";
Enter Password:
········
Failed login

In [27]:
show_table()

[(1, 'mark', 'abcdef'), (2, 'paul', 'xywz123')]

In [28]:
sqli()

Enter Username	DELETE FROM account WHERE fieldname="mark";
Enter Password:
········
Failed login

In [29]:
show_table()

[(1, 'mark', 'abcdef'), (2, 'paul', 'xywz123')]

In [30]:
sqli()

Enter Username	SELECT * FROM account WHERE username = '; DELETE FROM users; --
Enter Password:
········

OperationalError: no such table: users

In [31]:
sqli()

Enter Username	SELECT * FROM account WHERE username = '; DELETE FROM account; --
Enter Password:
········
Failed login

In [32]:
show_table()

[]

In [33]:
sqli()

Enter Username	SELECT * FROM account WHERE username = ' OR 1=1; --
Enter Password:
········
Failed login

In [35]:
insert_data()

Successfully entered data

In [36]:
sqli()

Enter Username	SELECT * FROM account WHERE username = ' OR 1=1; --
Enter Password:
········
Successful login

In [208]:
def sqli():
    u_name = str(input("Enter Username\t"))
    print("Enter Password:\t")
    p_word = getpass()
    #sanitize u_name and p_word here. You are free to do it your way.
    obj = 
    if():
        print("Failed login")
    try:
        c.execute("SELECT username, password FROM account WHERE username='%s' AND password='%s'" %(u_name, p_word))
    except:
        c.executescript("SELECT username, password FROM account WHERE username='%s' AND password='%s'" %(u_name, p_word))
    if c.fetchone():
        print("Successful login")
    else:
        print("Failed login")
sqli()

Enter Username	SELECT * FROM account WHERE username = ' OR 1=1; --
Enter Password:
········
Failed login

Enter Username	mark
Enter Password:
········

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 0, and there are 2 supplied.

In [209]:
show_table()

[(7, 'mark', 'abcdef'), (8, 'paul', 'xywz123'), (9, 'mark', 'abcdef'), (10, 'paul', 'xywz123')]

In [158]:
insert_data()

Successfully entered data